html,
body {
  height: 100%;
}

body {
  background-color: rgb(243 244 246);
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  overflow-x: hidden;
  overflow-y: auto;
}

.noScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.noScrollbar::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}
