html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

main {
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.nonescroll {
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
